*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body{
    background-color:#EDEAD0;
    margin: 0 auto;
    width: 640px (el que se acomode a vos); 
    padding: 50px;
}

    .level{
    margin: 500x auto;
    text-align: center;
    font-size: 55px;
    color:#545F66;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px black;


}

    .level2{
    margin: 30px auto;
    text-align: center;
    font-size: 35px;
    color:#394648;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px black;

}

    .level3{
    margin: 40px;
    text-align: center;
    font-size: 25px;
    color: #061A40;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid;
    border-radius: 14px;
    box-shadow: 0px 15px 15px;


}

    


    .level4 {
    margin: 30px auto;
    text-align: center;
    font-size: 35px;
    color:#394648;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px black;
}



    .biografia-riquelme{

    margin: 40px;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: #061A40;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0px 15px 15px;


}




    .redes-text{

    margin: auto;
    text-align: center;
    font-size: 35px;
    color:#394648;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px black;

}




.juanroman {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: auto;
    width: 430px;

    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0px 15px 15px;
   
    
}


.igjuan{
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #000020;;
    font-family:fantasy;
    text-shadow: 2px 2px white;
}
